app = "hacknova-backend"
primary_region = "sin"

[build]
  builder = "heroku/buildpacks:20"

[env]
  NODE_ENV = "production"
  PORT = "3000"
  JWT_SECRET_KEY = "jkasdgfui9231khjaflkh"
  DB_URL = "mongodb+srv://saugatgiri1070_db_user:saugat1070@cluster0.xgnx07z.mongodb.net/?appName=Cluster0"


[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
